<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./css/style.css" rel="stylesheet">
  <link href="../fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>   

  <title>SKETCH</title>
</head>
<body>
  <div class="write-page">
    <div class="write-title">
      <input style="color:black;" class="back-color" type="text" id="title" placeholder="제목을 입력하세요">
    </div>
    <hr>
    <div class="write-menu-bar">
      <div class="writepage-btn">
        <button class="back-color" id="btnBigFont">대</button>
        <button class="back-color" id="btnMiddleFont">중</button>
        <button class="back-color" id="btnSmallFont">소</button>

        <button class="back-color" id="btnBold"><b>B</b></button>
        <button class="back-color" id="btnItalic"><span style="font-style: italic;">I</span></button>
        <button class="back-color" id="btnStrike">T</button>

        <button class="back-color" >"</button>
        <button class="back-color symbol-color">링크</button>
        <input class="file-selector back-color" id="fileSelector" type="file" accept="*">
      </div>
        <div class="write-category">
          <select class="back-color symbol-color" name=category onchange="selectBoxChange(this.value)">
            <option value="" selected disabled hidden >카테고리</option>
            <option value="document">서류/양식</option>
            <option value="report">동아리활동보고</option>
            <option value="meeting">대표자회의록</option>
          </select>
        </div>
    </div>
    
    <div contenteditable="true" class="write-contents" data-text="텍스트를 입력하세요." id="editor"></div>

    <div class="write-last-button">
      <button class="symbol-color back-color save-button">임시저장</button>
      <button class="complete-button symbol-color back-color">저장하기</button>
    </div>
  </div>
</body>
<script>

  let filesrc = '';

  $('#btnBigFont').click(function(){
    changeFont(7);
  });
  $('#btnMiddleFont').click(function(){
    changeFont(5);
  });
  $('#btnSmallFont').click(function(){
    changeFont(3);
  });
  $('#btnBold').click(function(){
    setStyle('bold');
  });
  $('#btnItalic').click(function(){
    setStyle('italic');
  });
  $('#btnStrike').click(function(){
    setStyle('strikeThrough');
  });
  $('#btnImage').click(function(){
    $('#imgSelector').click();
  });
  // $('#imgSelector').change(function(e){
  //   const files = e.target.files; 

  //   console.log(files);
    
  //   if (!!files){ 
  //     uploadImage(files[0]);  
  //   }
  // });

  // $('#fileSelector').change(function(e){
  //   const files = e.target.files; 
  //   console.log(files)
  //   if (!!files){ 
  //     uploadFile(files[0]);
  //   }
    
  // });

  

  function uploadImage(file) {
    var formData = new FormData();

    formData.append('hwpfile', file);

    console.log(file.location)

    $.ajax({
       url: "/file/image",
       type: "POST",
       data: formData,
       processData: false,
       contentType: false,
       success: function(response) {
       },
       error: function(jqXHR, textStatus, errorMessage) {
           console.log(errorMessage); // Optional
       }
    });
  }

  function uploadFile(file) {
    var formData = new FormData();
   
    formData.append('file', file);

    $.ajax({
       url: "/file/file",
       type: "POST",
       data: formData,
       processData: false,
       contentType: false,
       success: function(response) {
          insertImageData(JSON.parse(response)['location']);
          sendData(JSON.parse(response)['location']);

          filesrc = JSON.parse(response)['location']
       },
       error: function(jqXHR, textStatus, errorMessage) {
           console.log(errorMessage); // Optional
       }
    });
  }
  
  

  function setStyle(style) { 
    document.execCommand(style); 
    focusEditor(); 
  } // 버튼 클릭 시 에디터가 포커스를 잃기 때문에 다시 에디터에 포커스를 해줌 
  function changeFont(size) {
    document.execCommand("fontSize", false, size);
    focusEditor();
  }
  function focusEditor() { 
    editor.focus({preventScroll: true}); 
  }
  
  var category = "";
  var selectBoxChange = function(value){
      category = value;
      console.log(category);

  }
  


  function uploadData(file){

    var formData = new FormData();

    

    var title = $('#title').val();
    var content = $('#editor').html();

   
   if(typeof file == "undefined"){
     fielsrc = "0";
   }else{
    formData.append('file', file);

    $.ajax({
        url: "/file/file",
        type: "POST",
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
          insertImageData(JSON.parse(response)['location']);
          console.log('업로드 성공')
        },
        error: function(jqXHR, textStatus, errorMessage) {
            console.log(errorMessage); // Optional
        }
    });
   }
    setTimeout(() => {

      let now = new Date();
    
      var year = now.getFullYear();
      var writeMonth = now.getMonth();
      var writeDate = now.getDate();
    
      var writeDay = year+'.'+writeMonth+'.'+writeDate;
      var category_kor = '';
      if(category == 'document'){
        category_kor = '서류/양식';
      }else if(category == 'report'){
        category_kor = '동아리활동보고';
      }else if(category == 'meeting'){
        category_kor = '대표자회의록';
      }

      var alldata = {"title" : title, "category" : category, "category_kor":category_kor, "content": content, "date": writeDay, "fileURL": filesrc};

      $.ajax({
        type:"POST",
        url: "/add",
        data: alldata,
        dataType: "json",
        success: function(){
          console.log("success")
        }
      })
    }, 1000);
   
  }

  $('.complete-button').click(function(){

    var title = $('#title').val();
    var userfile = $('#fileSelector')
    var fileName = userfile[0].files[0]
    if(category == ""){
      alert('카테고리를 입력하세요');
    }else if(title == ""){
      alert('제목을 입력하세요');
    }else{
      uploadData(fileName)
      history.back();
    }
  });
  

  
  

</script>